@import "../../variables.scss";

.BooksTable {
  background-color: $tableBackground;
  flex-grow: 1;
  border-radius: $commonBorderRadius;
  &__table {
    &_row {
      display: flex;
      & > div {
        white-space: normal;
        flex-grow: 1 !important;
      }
    }
    &_grid > div {
      display: flex;
    }
  }
}
