// colors
$white: #fff;
$mainlayoutnavcolor: rgb(248, 24, 24);
$mainBackground: rgb(250, 248, 179);
$tableBackground: rgb(235, 235, 235);

//breackpoints
$min-mobile-width: 500px;
$min-middle-width: 750px;
